.main{
    padding: 0px;
    margin:0px;
    display : flex;
    flex-direction:column ;
    align-items:center ;
    gap:2rem ;
    
}
h1{
    font-size: 3.5rem ;
    font-family: monospace ;
    color: hsl(0, 1%, 31%) ;
letter-spacing: 0.2rem ;
    margin-top: 2rem ;

}
#search{
    display:flex ;
    flex-direction:row ;
    align-items:center ;
    margin-top: 0.2rem ;  

}
#search #inpo{
    width:20rem ;
    margin-right: 0.5rem ;
    padding: 0.5rem ;
    font-size: 1.5rem ;
    border: 2px solid hsl(0, 1%, 31%) ;
    border-radius: 0.5rem ;
    background-color: white ;
    color: hsl(0, 1%, 31%) ;
    font-family: monospace ;
    text-align: center ;

}
#search #inpo:focus{
    outline:none ;
    border-color: hsl(0, 1%, 10%) ;
    background-color: hsl(0, 1%, 90%) ;
    box-shadow: 0 0 5px hsl(0, 1%, 31%) ;
}
#search #btn{
    padding: 0.6rem 1.2rem ;
    font-size: 1.2rem ;
    border: none ;
    border-radius: 0.5rem ;
    background-color: hsl(0, 1%, 31%) ;
    color: white ;
    cursor:pointer ;
    font-family:monospace ;
    margin-left: 1rem ;


}
#search #btn:hover{
    background-color: hsl(0, 1%, 10%) ;
    box-shadow: 0 0 5px hsl(0,1%, 31%) ;
}
#search #cl{
    background-color: hsl(0, 1%, 31%) ;
    color: white ;
    border:none ;
    border-radius: 50%;
    width: 30px ;
    height: 30px ;
    margin-left: 0.5rem ;
    padding:10px;
    font-size: 1.2rem ;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer ;
}
#search #cl:hover{
    background-color: hsl(0, 1%, 10%) ;
    box-shadow: 0 0 5px hsl(0,1%, 31%) ;
}
#display{
   border:2px solid hsl(0, 1%,31%) ;
   padding: 2rem ;
   font-size: 1.5rem ;
   border-radius:1rem ;
   width:25rem ;
   
    display:none ;
    text-align: center ;
    /* gap: 0.4em; */
    background-color: hsl(0, 0%, 77%);
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    
}
#display h2{
    font-family: monospace;
  font-size: 2.4rem;
  text-transform: capitalize;  
  color: hsl(0, 1%, 20%);
}

#display img{
    width:280px ;
    height:280px ;
    object-fit:contain ;
    
}
.statrow{
    display:flex ;
    align-items:center ;
    gap: 0.5rem ;
    width:100% ;
}
.statname{
    font-size: 1.2rem ;
    font-family: monospace ;
    width: 120px ;
    color: hsl(0, 1%, 31%) ;
    text-transform: capitalize ;
    margin-bottom: 0.6rem ;
}
.statbarbg{
    flex:1 ;
    background-color: hsl(0, 0%, 80%) ;
    border-radius: 1rem ;
    height: 10px ;
}
.statbarfil{
    height: 10px ;
    border-radius: 1rem ;
    background-color: hsl(120, 50%, 50%) ;
}
.statnum {
  font-size: 1.2rem;
  width: 30px;
}

#gridcards{
    
}